# This is Git's per-user configuration file.
[user]
  name = Douglas Camata
  email = 159076+douglascamata@users.noreply.github.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO5tOZJZHQKk/rqh3SCf7gAg+v5bsxCrpvIYCWgjdvF7
[color]
  branch = auto
  diff = auto
  status = auto
[alias]
  ci = commit
  st = status
  br = branch
  co = checkout
  df = diff
  lg = log -p
  who = shortlog -s --
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  cf = !sh -c \"git diff --name-only | uniq | xargs subl -n\"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[core]
  autocrlf = input
  excludesFile = ~/.gitignore.global
  pager = delta
[interactive]
  diffFilder = delta --color-only
[delta]
  navigate = true
  light = false
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[merge]
  conflictStyle = diff3
  ff = false 
[diff]
  colorMoved = default
[pager]
  branch = false
[push]
  autoSetupRemote = true
  default = simple
[log]
  showSignature = false
