font-family = Berkeley Mono
font-feature = +calt

{{- if eq .chezmoi.os "linux" }}
font-size = 10
{{- end }}

theme = Catppuccin Macchiato

shell-integration = zsh
shell-integration-features = sudo,ssh-terminfo,ssh-env

macos-option-as-alt = true
window-save-state = always
confirm-close-surface = false

keybind = shift+enter=text:\n
